$docs-min-width: 320px;

$docs-color-gray: #888888;
$docs-color-mirage: #18202a;
$docs-color-radical-red: #f92672;
$docs-color-ocean-green: #42b883;
$docs-color-spring-wood: #f8f8f2;
$docs-color-pickled-bluewood: #35495e;
$docs-color-aliceblue: aliceblue;
$docs-color-sandybrown: sandybrown;
$docs-color-lightslategrey: lightslategrey;
