$app-color-gray: #888888;
$app-color-white: #ffffff;
$app-color-mirage: #18202a;
$app-color-radical-red: #f92672;
$app-color-ocean-green: #42b883;
$app-color-spring-wood: #f8f8f2;
$app-color-pickled-bluewood: #35495e;
$app-color-aliceblue: aliceblue;
$app-color-sandybrown: sandybrown;
$app-color-lightslategrey: lightslategrey;